/**
 * NOTE: This file is completely re-written by the AI, and the CSS classes
 * below are not used anywhere in the code. This file is intended to be used
 * as a reference for the AI to create new styles.
 */
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }
  